<?xml version="1.0"?>
<config>
    <modules>
        <MSP_Qapla>
            <version>1.5.2</version>
        </MSP_Qapla>
    </modules>
    <global>
        <models>
            <msp_qapla>
                <class>MSP_Qapla_Model</class>
                <resourceModel>msp_qapla_resource</resourceModel>
            </msp_qapla>
            <msp_qapla_resource>
                <class>MSP_Qapla_Model_Resource</class>
                <entities>
                    <msp_qapla_queue>
                        <table>msp_qapla_queue</table>
                    </msp_qapla_queue>
                </entities>
            </msp_qapla_resource>
        </models>
        <blocks>
            <msp_qapla>
                <class>MSP_Qapla_Block</class>
            </msp_qapla>
        </blocks>
        <helpers>
            <msp_qapla>
                <class>MSP_Qapla_Helper</class>
            </msp_qapla>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <msp_qapla>
                        <type>singleton</type>
                        <class>msp_qapla/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </msp_qapla>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <msp_qapla_setup>
                <setup>
                    <module>MSP_Qapla</module>
                </setup>
            </msp_qapla_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <msp_qapla>
                        <type>singleton</type>
                        <class>msp_qapla/observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </msp_qapla>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MSP_Qapla before="-">MSP_Qapla</MSP_Qapla>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <msp_qapla>
                    <file>msp_qapla.xml</file>
                </msp_qapla>
            </updates>
        </layout>
        <routers>
            <msp_qapla>
                <use>standard</use>
                <args>
                    <module>MSP_Qapla</module>
                    <frontName>qapla</frontName>
                </args>
            </msp_qapla>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <msp_qapla_queue>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>msp_qapla/queue::process</model>
                </run>
            </msp_qapla_queue>
        </jobs>
    </crontab>
    <default>
        <msp_qapla>
            <general>
                <enabled>0</enabled>
                <api_language>ita</api_language>
                <message_template><![CDATA[
Il tuo ordine n. [*REFERENCE*] è [*STATUS*] con il corriere <img src="[*COURIER_LOGO*]" alt="[*COURIER*]"/> [*COURIER*] in data [*STATUS_DATE*] presso [*STATUS_PLACE*], <a href="[*TRACKING_URL*]">clicca qui per il tracking completo</a>
                ]]></message_template>
                <cashondelivery_methods>cashondelivery</cashondelivery_methods>
            </general>
        </msp_qapla>
    </default>
</config>